<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">bdprueba</property>
  <property name="hibernate.connection.url">jdbc:mysql://aaaaaaaaa</property>
  <property name="hibernate.connection.username">bbbbbbbb</property>
  <property name="hibernate.default_schema">ccccccc</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="edu.eci.cosw.samples.model.Cliente"/>
  <mapping class="edu.eci.cosw.samples.model.Despacho"/>
  <mapping class="edu.eci.cosw.samples.model.DetallePedido"/>
  <mapping class="edu.eci.cosw.samples.model.Pedido"/>
  <mapping class="edu.eci.cosw.samples.model.Producto"/>
  <mapping class="edu.eci.cosw.samples.model.Vehiculo"/>
 </session-factory>
</hibernate-configuration>
